*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    height: 100vh;
}

.main-title{
    min-height: 10vh;
    background:black;
    z-index: 1;
    position: relative;
}
.main-title a:first-child img{
    display: none;
}
.main-title a:last-child img{
    display: none;
}

header h1 {
    font-size: 1rem;
    color: rgb(234, 231, 231);
    text-shadow: 1px 1px black;
    /* background: #333; */
    height: 100%;
    /* margin-top: 2%; */
}
header#main-header{
    min-height:40vh;
    /* background-color: #333; */
    text-align: center;
    padding-left: 1rem;
    padding-top: 2.2rem;
    /* border: solid 3px black; */
    position: relative;
}


.img1 img{
    display: none;
}
header img {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

header .subtitle-logo {
    display: inline-block;
    position: relative;
    /*top: 34%;*/
    right: 1rem; 
    /* left: 1rem; */
    background-color: black;
    width: 110%;
    /*margin-bottom: 40%;
    */transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -o-transform: translateY(-300%);
}

header h2 {
    font-size: 0.9rem;
    color: white;
    transform: translate(-10%,-40%);
    -webkit-transform: translate(-10%,-40%);
    -moz-transform: translate(-10%,-40%);
    -ms-transform: translate(-10%,-40%);
    -o-transform: translate(-10%,-40%);
}

header .logo {
    position: relative;
    display: inline-block;
    transform: translate(-10, -40%);
    -webkit-transform: translate(-10, -40%);
    -moz-transform: translate(-10, -40%);
    -ms-transform: translate(-10, -40%);
    -o-transform: translate(-10, -40%);
}

header .logo img {
    width: 2rem;
    height: 2.2rem;
    transform: translate(280%, -40%);
    -webkit-transform: translate(280%, -40%);
    -moz-transform: translate(280%, -40%);
    -ms-transform: translate(280%, -40%);
    -o-transform: translate(280%, -40%);
}

main{
    min-height: 40vh;
    padding: 2rem;
    display: inline-block;
} 

nav {
    transform: translate(-40%, 60%);
    -webkit-transform: translate(-40%, 60%);
    -moz-transform: translate(-40%, 60%);
    -ms-transform: translate(-40%, 60%);
    -o-transform: translate(-40%, 60%);
}
nav a{
    font-size: 0.9rem;
    padding: 1.5rem;
    display: list-item;
    list-style: none;
    color: black;
    text-decoration: none;
}

a[href="#"]{
    text-decoration: underline solid 2px blue;
    
}

a:hover{
    
    color: blue;
}



section {
    margin-top: 76%;
    transform: translate(16rem, -22rem);
    -webkit-transform: translate(16rem, -22rem);
    -moz-transform: translate(16rem, -22rem);
    -ms-transform: translate(16rem, -22rem);
    -o-transform: translate(16rem, -22rem);
}

section h3{
    font-size: 0.8rem;
}
section p{
    font-size: 0.6rem;
}


ul li{
    list-style: none;
    margin: 1.5rem;
}
/* about section style */
.img2 img{
    display: none;
}

section.about{
    transform: translate(12rem, -34rem);
    -webkit-transform: translate(12rem, -34rem);
    -moz-transform: translate(12rem, -34rem);
    -ms-transform: translate(12rem, -34rem);
    -o-transform: translate(12rem, -34rem);
}

section.about h3{
    margin: 0.6rem;
    font-size: 0.8rem;
}

section.about p{
    text-align: start;
    /* font-size: 0.5rem; */
}

/* contact section style */

.img3 img{
    display: none;
}

section.contact{
    transform: translate(16rem, -16rem);
    -webkit-transform: translate(16rem, -16rem);
    -moz-transform: translate(16rem, -16rem);
    -ms-transform: translate(16rem, -16rem);
    -o-transform: translate(16rem, -16rem);
}

section.contact p{
    text-align: start;
    margin: 1rem;
}

footer{
    height: 10vh;
}








